<!DOCTYPE html>
<html>
<head>
	<title>Responsive layout examples</title>
	<link rel="stylesheet" type="text/css" href="/_common/normalize.css">
	<link rel="stylesheet" type="text/css" href="/_common/style.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<h1>Responsive layout examples</h1>
	<section>
		<h2>basic</h2>
		<div id="item-basic" class="segments">
			<div class="segment">Item  0</div>
			<div class="segment">Item  1</div>
			<div class="segment">Item  2</div>
			<div class="segment">Item  3</div>
			<div class="segment">Item  4</div>
		</div>
	</section>

	<section>
		<h2>max width</h2>
		<div id="item-max-width" class="segments">
			<div class="segment">Item 0</div>
			<div class="segment">Item 1</div>
			<div class="segment">Item 2</div>
			<div class="segment">Item 3</div>
			<div class="segment">Item 4</div>
		</div>
	</section>

	<section>
		<h2>grid</h2>
		<div id="item-grid" class="segments">
			<div class="segment">Item 0</div>
			<div class="segment">Item 1</div>
			<div class="segment">Item 2</div>
			<div class="segment">Item 3</div>
			<div class="segment">Item 4</div>
		</div>
	</section>

	<section>
		<h2>grid 2</h2>
		<div id="item-square-grid" class="segments">
			<div class="segment"><img src="https://dummyimage.com/100x100/000/fff"></div>
			<div class="segment"><img src="https://dummyimage.com/100x100/000/fff"></div>
			<div class="segment"><img src="https://dummyimage.com/100x100/000/fff"></div>
			<div class="segment"><img src="https://dummyimage.com/100x100/000/fff"></div>
			<div class="segment"><img src="https://dummyimage.com/100x100/000/fff"></div>
		</div>
	</section>
</body>
</html>