/* general layout and style */
html{
	font-family: sans-serif;
}
.container{
	width: 100%;
	display: flex;
	align-items: center;
	/* border: thin solid black; */
	background-color: #EBEBEB;
}
.container > *{
	outline: thin solid #A2A2A2;
	padding: 10px;
	box-sizing: content-box;
	background-color: white;
}

/* allow container children to grow and shrink with flexbox */
.container > *{
	flex: 1 1;
}

/* flex direction demos */
.row.container{
	flex-direction: row;
	height: 100px;
}
.column.container{
	flex-direction: column;
}

/* align items demos */
.center.container{
	align-items: center;
}
.start.container{
	align-items: flex-start;
}
.end.container{
	align-items: flex-end;
}
.stretch.container{
	align-items: stretch;
}
