/* basic page layout */
body, html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1{
	margin: 0;
}
header{
	background-color: #F8F8F8;
	padding: 10px;
	position: fixed;
	width: 100%;
	box-sizing: border-box;

	/* layout header's items */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	width: 49%;
}
main{
	margin: auto;
	max-width: 700px;
	padding: 10px;
	padding-top: 70px;
}

/* menu (either burger or 'normal') */
nav ul{
	/* reset list styles */
	padding: 0;
	margin: 0;

	/* trick for css-only and no duplication menu */
	padding-top: 25px;
    margin-top: -25px;

    /* use flexbox to easily layout menu items */
    display: flex;
}
nav li{
	list-style-type: none;
	margin: 0 10px;
	padding: 5px;
}
/* menu links styles */
nav a{
	text-decoration: none;
	color: #3943DB;
}
nav li:hover{
	background-color: #3943DB;
}
nav li:hover a{
	color: white;
}

/* burger icon */
nav img{
	width: 30px;
	display: none;
	position: fixed; /* don't show by default */
	top: 14px;
	right: 14px;
}

/* special case for images: when window is smaller than 500px wide, display as single column */
@media screen and (max-width: 500px) {
	img{
		width: 100%;
	}
}

/* "activate" burger menu */
@media screen and (max-width: 400px) {
	nav ul{
		flex-direction: column;
	}
	nav img{
		display: inline-block;
	}
	nav{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #F8F8F8;
		padding: 10px;
		right: -100%;
		top: 100%;
		transition: right 0.2s;
	}
	nav:hover{
		right: 0;
	}
}
